includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: tests/Application/var/cache/test/Tests_MangoSylius_ExtendedChannelsPlugin_KernelTestDebugContainer.xml

    excludePaths:
        - 'tests/'

    ignoreErrors:
        - identifier: missingType.generics
