<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="AcmeSyliusExamplePlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
    </testsuites>

    <php>
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />

        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="e1095c7366122a383edf4e168730a6d5"/>
    </php>
    <extensions>
        <bootstrap class="Symfony\Component\Panther\ServerExtension"/>
    </extensions>
</phpunit>
