<a href="{{ path('mango_sylius_admin_duplicate_product', {id: hookable_metadata.context.resource.id}) }}" class="btn btn-outline-primary" {{ sylius_test_html_attribute('duplicate-product') }}>
    {{ ux_icon('tabler:copy') }}
    {{ 'mango-sylius.admin.product.duplicate'|trans }}
</a>