<form action="{{ options.link.url|default(path(options.link.route)) }}" method="get" id="bulk-setProductCategories">
	{# hack - get bulk items ids via JS #}
	<button class="btn btn-primary" type="submit" disabled onclick="$('#bulkProductsIds').val($('input.bulk-select-checkbox:checked').map(function (index, input) { return input.value; }).toArray().join(','))">
		<i class="glyphicon glyphicon-folder-open"></i> {{ action.label|trans }}
	</button>
	<input type="hidden" name="bulkProductsIds" value="" id="bulkProductsIds" />
</form>
