<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(hookable_metadata.context.form.bccEmail, sylius_test_form_attribute('bcc-email')) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(hookable_metadata.context.form.contactPhone, sylius_test_form_attribute('contact-phone')) }}
    </div>
    <div class="col-12">
        {{ form_row(hookable_metadata.context.form.timezone, sylius_test_form_attribute('timezone')) }}
    </div>
</div>
